extends layout

block content
  head
  body
    header
      h1.message-header= title
      a(href="/new") 
        button New Message  
    div.container
        section 
          each message in messages
            div.message
              div.message-header
              h3.sender-name
                strong= message.user
                | : #{message.text}
              p
                | Added: #{message.added.toLocaleString()}
    
      
